{% extends "base.html" %}

{% block title %}Welcome{% endblock %}
{% block page_title %}Welcome{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/welcome.css') }}">
{% endblock %}

{% block content %}
<div class="login-page">
   <!-- Full page background logo -->
   <img src="{{ url_for('static', filename='images/snipsnap_logo.png') }}" class="login-bg-logo" alt="">
   <section class="login-card">
    {% if session.get("user") %}
      <p class="welcome-message">
        Signed in as 
        <strong>{{ session["user"]["email"] }}</strong> 
        (role: <strong>{{ session["user"]["role"] }}</strong>)
      </p>

      <a href="{{ url_for('logout') }}" class="login-btn login-btn--secondary">
        Logout
      </a>

    {% else %}
      <p class="welcome-message">Welcome to Snip-Snap.</p>

      <div class="welcome-buttons">
        <a href="{{ url_for('login') }}" class="btn">Login</a>
        <a href="{{ url_for('signup') }}" class="btn">Sign up</a>

        <form method="POST" action="{{ url_for('guest_start') }}">
          <button type="submit" class="btn">Continue as guest</button>
        </form>
      </div>
    {% endif %}

  </section>
</div>
{% endblock %}